<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap">
    <title>{% if title %}{{ title }}{% endif %} | KINOGAKI</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    {{ content | safe }}

    <div class="footer">
        © 2025 Kinogaki. Made with ♥︎ for the plotting community.
    </div>
</body>
</html>